@media (min-width:320px) {
  .slider h1 {
    font-size: 20px;
  }

}

.slider .carousel-inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto;
  height: 35vh;
  filter: brightness(80%)
}

@media (max-width: 991px) {
  .services .card {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .services .card {
    width: 20rem !important;
  }
}

@media (max-width: 767px) {
  .services .card {
    width: 90% !important;
  }
}

@media(max-width:768px) {
  header.contact h1 {
    font-size: 25px;
  }

}

@media (max-width: 767px) {
  .slider h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider .carousel-inner {
    height: calc(100vh - 262px);
  }
}

@media (max-width: 767px) {
  .slider .carousel-inner {
    height: calc(80vh - 262px);
  }
}


@media only screen and (min-width:768px)and(max-width:992px) {
  header.content {
    left: 26%
  }
}

@media(max-width:992px) {
  .sec4.box {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .stats .content {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .contact form .side {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .brand .part {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }

  footer p {
    margin-bottom: 30px;
  }
}