* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* .music{
  z-index:;
 }  */

body {
  overflow-x: hidden;
}

header .navbar .navbar-brand {
  font-family: 'Cairo', sans-serif;
  color: var(--bs-danger);
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

header .navbar .nav-item .nav-link {
  transition: 0.5s;
}

header .navbar .nav-item .nav-link:hover {
  color: #fff;
  background-color: var(--bs-danger);
  border-radius: 4px;
}

.navbar-brand {
  font-family: 'DynaPuff';
  font-size: 30px;
  margin: auto;
  padding: 5px;
  margin-left: 50px;
}


p {
  text-align: justify;
  font-size: 20px;
}

.carousel-item img {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  filter: brightness(80%);

}

h1 {
  font-family: 'DynaPuff';
  text-align: center;
}

.box {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 30px;
  border-radius: 10px;

}

/* .d-none {
  /* display: none!important; */

.box p {
  text-align: justify;
  font-size: 20px;
}

.container {
  margin-top: 8%;
  margin-bottom: 50px;

}

h2:hover {
  transition: all 1.5s ease;
  transform: scale(1.5);

}

.about .row {
  display: flex;
  align-items: center;
  background: black;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 4px;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: red;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

/* Start Services */
.services {
  padding: 80px 0;
  background-color: #efefef;
}

.services .card {
  text-align: center;
  margin: 0 auto;
}

.card-title {
  font-family: 'DynaPuff';
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  color: #000;

}

.card-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #000;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.card-title span {
  color: red;
}

.card-title span.green {
  color: rgb(17, 132, 88);
}

.services .card .card-body h5 {
  font-family: 'Cairo', sans-serif;
  color: #000;
}

.services .card .card-body a.btn {
  border-radius: 5px;
}

.btn {
  background-color: red;
  color: #fff;
  border: none;
  margin-bottom: 40px;
  border-radius: 5px 10px;
}

.btn:hover {
  border-radius: 5px;
  border-width: auto;
  background: #000;
  color: #fff;
  border: none;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}




.card {
  background-color: #efefef;
}

.card h2 {
  text-align: center;
  font-family: 'DynaPuff';
  font-size: 35px;
}

.card-title {
  color: #000;
  font-family: 'DynaPuff';
  font-weight: 400 bold;
  font-size: 25px;
}

.card-title:hover {
  transition: all 1.5s ease;
  transform: scale(1.5);
}

.card-title span {
  color: red;
}

.card-title span.green {
  color: rgb(17, 132, 88);
}

.card-text {
  color: #000;
}

.btn {
  background-color: red;
  color: #fff;
  border: none;
  margin-bottom: 40px;
  border-radius: 5px 10px;
}

.btn:hover {
  border-radius: 5px;
  border-width: auto;
  background: #000;
  color: #fff;
  border: none;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}



.about-us {
  background: url(../img/5.webp) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  text-align: center;
}

.about-us p {
  line-height: 1.8;
  color: #fff;
  margin-bottom: 40px;
}

.about-us .content {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 4rem;
}

.about-us .content h3 {
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
  color: red;
  margin: auto;
  font-size: 35px;
  font-family: 'DynaPuff';
}

.box {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}

.stats {
  padding: 3px 0;
  background-color: rgb(211, 28, 28);
  color: #fff;
}

.main-heading {
  font-family: 'DynaPuff';
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
  color: #fff;
}

.form-label {
  margin-bottom: 0.5rem;
  color: #fff;
}

.main-heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: white;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

::after,
::before {
  box-sizing: border-box;
}

.stats .content {
  text-align: center;
  margin: 0 auto;
}

.stats .content h5 {
  font-family: 'DynaPuff';
  font-weight: normal;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.main-heading {
  font-family: 'DynaPuff';
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.contact {
  padding: 3px 0;
  background-color: #000;
}

.contact form .side {
  margin: 0 auto;
}


.contact form .form-group {
  margin-bottom: 20px;
}

.contact form .button {
  margin-top: 26px;
}

.brand {
  padding: 10px 0;
  background-color: #efefef;
  color: #000;
}

.brand .part {
  margin: 0 auto;
}


.brand .part h3 {
  font-family: 'DynaPuff';
  margin-bottom: 20px;
}

.brand .part h3 span {
  color: red;
}

.brand .part .link {
  display: flex;
  align-items: center;
}

.brand .part .link .r-icon {
  font-size: 18px;
  padding: 2px 6px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(241, 62, 62);
}

.brand .part .link a {
  text-decoration: none;
  color: red;
}

.brand .part ul li a {
  text-decoration: none;
  color: red;
}

footer {
  padding: 5px 0;
  background-color: #000;
}


footer .icons .ic {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  color: red;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer.container p {
  color: rgb(54, 2, 2);
}